<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037436898579-nmcnct1fn6e8dm698isueq7notdsc007.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037436898579-nmcnct1fn6e8dm698isueq7notdsc007</string>
	<key>API_KEY</key>
	<string>AIzaSyBxVSXoVzkAZNb7Q4xuAi14O3FrYOiRM50</string>
	<key>GCM_SENDER_ID</key>
	<string>1037436898579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ju.plantyApp</string>
	<key>PROJECT_ID</key>
	<string>planty-app-4918f</string>
	<key>STORAGE_BUCKET</key>
	<string>planty-app-4918f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037436898579:ios:72d68053c0616433ce5ee6</string>
</dict>
</plist>